*{
    margin: auto;
}
a{
    text-decoration: none;
    color: black;
}
.container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
}
.datos{
    grid-column: 1/6;
    grid-row: 1/13;
    text-align: center;
    position: relative;
}
.fondo {
    margin: 0;
    padding: 0;
    width: 58w;
    height: 100vh;
    grid-column: 6/13;
    grid-row: 1/13;
    background: url(img/ruben-rodriguez-IXTvnOOSTyU-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    background-position: center;
    overflow: hidden;
}
.fondo:before{
    content: "";
    width: 58%;
    min-height: 100vh;
    position: absolute;
    background: linear-gradient(90deg, rgb(162, 255, 250), rgb(227, 185, 255));
    opacity: .2;
}
.form{
    display: grid;
    grid-template-columns: repeat(12,1fr);
}
.formulario {
    padding-top: 70px;
    grid-column: 2/6;
    text-align: left;
    font-family: 'Poppins', sans-serif;
}
.formulario h3{
    font-family: 'Poppins', sans-serif;
    font-size: 26px
}
.formulario span{
    color: rgb(1, 1, 177);
}
.formulario button{
    cursor: pointer;
    margin: 2px;
    padding: 6px 12px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    border: none;
    background-color: #c5c5c5;
}
input{
    width: 320px;
    padding: 6px 10px;
    border-radius: 5px;
    border: solid 1px rgb(110, 110, 110);

}
.checktext{
    display: inline;
}
.logo{
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 1;
}
.logo img{
    width: 50px;
}
.logotesla img{
    width: 66px;
    padding-left: 14px;
}
.logotesla{
    position: absolute;
    top: 56px;
    left: 22px;
}
.titulo1{
    font-size:32px;
    position: absolute;
    top: 36px;
    left: 92px;
    font-family: 'Montserrat', sans-serif;
}
.titulo2{
    font-size:32px;
    position: absolute;
    top: 92px;
    left: 92px;
    font-family: 'Montserrat', sans-serif;
}
.copy{
    font-size: 12px;
    padding-top: 10px;
    color: rgb(110, 110, 110);
}
.redes {
    position: absolute;
     min-width: 20px;
     min-height: 100px;
     background-color: #E2E2E2;
     right: 0;
 }
.elements img{
    width: 34px;
    display: block;
    padding: 14px 12px;
    padding-right: 30px;
}
#Element8{
    width: 20px;
}