@media only screen and (max-width:1070px){
    .container{
        overflow: hidden;
    }
    div .fondo{
        margin: 0;
        padding: 0;
    }
    .redes {
        display: none;
    }
}

@media only screen and (max-width:900px){
    .fondo {
        display: none;
    }
    .container{
        padding: 0;
        margin: 0;
        overflow: hidden;
    }
    input{
        padding: 6px 60px;
        border-radius: 5px;
        border: solid 1px rgb(110, 110, 110);
        margin-bottom: 4px;
        margin-top: 3px;
    }
}
    
