@media only screen and (max-width:1070px){

    .imagen1{
        display: block;
        padding: 0px 20px;
        margin-bottom: -4px;
        padding-left: 100px;
        position: relative;
    }
    .redes1{
        position: absolute;
        left: 0;
        top: 56%;
    }
    .redes1 img{
        display: block;
        padding: 10px 4px;
    }


}
@media only screen and (max-width:860px){
    .items{
        display: block;
        
    }
    .chicamain{
        width: 95%;
    }
    .ofrecemos{
        text-align: center;
    }
    .menu-ofrecemos{
        display: block;
        background: #E2E2E2;
        width: 100%;
        text-align: center;
        padding-bottom: 10px;
    }
    .menu-ofrecemos p{
        background: #E2E2E2;
        padding-bottom: 6px;
    }
    .ofrecemos-dos{
        display: none
    }
    .matricula{
        display: block;
        
    }
    .matricula1{
        text-align: center;
    }
    .matricula1 img{
        width: 400px;
        text-align: center;
        
    }
    .matricula2{
        text-align: center;
        
    }
    .matricula2 img{
        width: 370px;
        text-align: center;
        
    }

    .logo{
       margin-top: -2px;
    }
    .marca h1{
        z-index: 1;
        font-size: 50px;
    }
    .nav .menu-bar{
        display: block;
        grid-column: 11/13;
        grid-row: 1/2;
    }
    .items{
        position: absolute;
        width: 60%;
        height: 18vh;
        display: grid;
        grid-template-columns: repeat(12,1fr);
        right: 0;
        margin-top: 54px;
        background-color: #ffffff;
        padding-right: 0px;
        padding-left: 0px;
        transform: translateX(100%);
        display: none;
    }
    .items a:hover{
        color: #08c5bc;
    }
    .menu-toggle{
        transform: translateX(0%);
        display: grid;
    }
    .items p{
        grid-column: 11/12;
    }
    .redes1{
        width: 30px;
    }
    .redes1 a img{
        width: 94%;
        padding: 0;
        padding: 6px;
    }
    .redes1{
        padding: 4px;
    }
}

@media only screen and (max-width:518px){

    .marca h1{
        font-size: 35px;
    }
    .marca img{
        width: 48px;
        height: 46px;
    }
    .matricula1 img{
        width: 320px;
        text-align: center;
        
    }
    .matricula2 img{
        width: 320px;
        text-align: center;
        
    }
    .matricula h3{
        font-size: 22px;
    }
    .matricula p{
        font-size: 22px;
    }
    .ofrecemos, .menu-ofrecemos, .ofrecemos-dos p{
        font-size: 14px;
        width: 100vw;
    }
}


@media only screen and (max-width:650px){
    .redes1 {
        display: none;
    }
    
}




@media only screen and (max-width:325px){
    .matricula1 img{
        width: 240px;
        text-align: center;
        
    }
    .matricula2 img{
        width: 240px;
        text-align: center;
        
    }
}